<section>
    <div class="example-button-row">
        <button mat-raised-button color="primary" routerLink="" routerLinkActive="active">Home</button>

      <button mat-raised-button color="primary" routerLink="/data-type" routerLinkActive="active">Generating typed data Automatically</button>
      <!-- <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a> -->
    </div>
  </section>
<router-outlet></router-outlet>